:root {
--body-color:#2E2F42;
--secondary-color:#434455;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
}

/* HEADER*/
.header a {
    text-decoration: none;
}


span {
    color:#4D5AE5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    text-decoration: none;

}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-color);
}

 .header-list{
    list-style-type: none;
}

.header-link:active {
    color: #404BBF;
}
.header-contacts {
    list-style-type: none;
}
.contacts {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}
.contacts:hover,
.contacts:focus {
    color:#404BBF
}
 
/*HEADER*/

/*MAIN*/
/* 1section */
.section-solutions {
    background-color: var(--body-color);
}
.main-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button {
    background-color: #4D5AE5; 
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;

}
/* 2section */
.item-business {
    list-style-type: none;
}
.title-business {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text-business {
    color:var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
}
/* 3section */
.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
.list-img {
    list-style-type: none;
}

/* 4section */
.third-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
.list-team {
    list-style-type: none;
}

.title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text-prof {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
}
.section-team {
    background-color: #F4F4FD;
}
 /* FOOTER */
 .footer {
    background-color: var(--body-color);
 }

 .text-footer {
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
 }

 /* PORTFOLIO */
 /* 1section */
 .list-portfolio {
    list-style-type: none;
 }

 .button-portfolio {
    background-color: #F4F4FD;
    color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
 }
.button-portfolio:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* 2section */
.list-works {
    list-style-type: none;
}

.title-works {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text-works {
    color:var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
}
