:root {
--secondary-color:#2E2F42;
--body-color:#434455;
--nav-color: #4d5ae5;
--hover-color:#404bbf;
--portfolio-color: #F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: #FFFFFF;
}

/* HEADER*/
.link {
    text-decoration: none;
}

.studio {
    color:var(--secondary-color);
}

.logo {
    color:var(--nav-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.all {
    color:var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.all:hover,
.all:focus {
    color: var(--hover-color);
}

 .header-list{
    list-style-type: none;
}
.list {
    list-style: none;
}

.header-contacts {
    list-style-type: none;
}
.add {
    font-style: normal;
}
.contacts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
    color:var(--hover-color);
}
 
/*HEADER*/

/*MAIN*/
/* 1section */
.section-solutions {
    background-color: var(--secondary-color);
}
.main-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em
}

.button {
    background-color: var(--nav-color); 
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em
}
.button:hover,
.button:focus {
    background-color: var(--hover-color);

}
/* 2section */
.item-business {
    list-style-type: none;
}
.title-business {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-business {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* 3section */
.second-title {
    color:var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-img {
    list-style-type: none;
}

/* 4section */
.third-title{
    color:var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-team {
    list-style-type: none;
    background-color: #FFFFFF
}

.title-name {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text-prof {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-team {
    background-color: var(--portfolio-color);
}
 /* FOOTER */
 .footer {
    background-color: var(--secondary-color);
 }

 .text-footer {
    color:var(--portfolio-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }
 .footer-studio {
    color: var(--portfolio-color);
 }

 /* PORTFOLIO */
 /* 1section */

 .button-portfolio {
    background-color: var(--portfolio-color);
    color: var(--nav-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
 }
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* 2section */

.title-works {
    color:var(--secondary-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-works {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--body-color);
}

